.Card {
    padding-right: 30px;
    left: 0rem;
    display: flex;
    flex-direction: column;
    width: 12.5rem;
    height: 13rem;
    text-align: center;
    font-size: 36%;
    font-family: 'Raleway';
    padding: 4px 5px 6px 5px;
    background-color: #f2d8d852;
    border: 1px solid #37425959;
    border-radius: 4px;
    box-shadow: 0 5px 20px 1px #3742599f;
    color: #545B77;
    /* text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.894); */
    cursor: pointer;
    line-height: 0rem;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 22px;
}

.Card:hover {
    transform: translateY(-20px);
}

.link{
    color:#374259;
    transition: transform 0.4s ease-in-out;
    text-decoration: none;
    
}

.link:hover {
    color:#212735;
    transform: scale(1.2);
}
    