.Card {
    position: relative;
    top: 0%;
    left: 3rem;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 15rem;
    text-align: center;
    font-size: 64%;
    font-family: 'Raleway';
    padding: 5px 5px 5px 5px;
    background-color: #00000081;
    border: 1px solid #dafffb2a;
    border-radius: 4px;
    box-shadow: 0 10px 25px 5px #00040172;
    color: #DAFFFB;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.894);
    cursor: pointer;
    line-height: 1rem;
    transition: transform 0.3s ease-in-out;
}
    
.Card:hover {
    transform: translateY(-20px);
}
      