.dogPhoto{
    position: absolute;
    width: 40%;
    height: 71%;
    top: 7.1em;
    left: 12rem;
    border-radius: 3px;
}

.textDescription{
    line-height: 10px;
    position: absolute;
    top: 8rem;
    left: 47rem;
    display: flex;
    width: 36.5rem;
    height: 11rem;
    text-align: left;
    font-size: 80%;
    font-family: 'Raleway';
    color: #374259;
    text-shadow: 1px 2px 4px #0beb3050;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.giftDetail{
    position: absolute;
    top: 26rem;
    left: 69rem;
}

.nav{
    width: 94px;
    color: #DAFFFB;
    background-color: #374259;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}