.dogPhoto{
    position: absolute;
    width: 40%;
    height: 71%;
    top: 7.1em;
    left: 12rem;
    border-radius: 6px;
    box-shadow: 0 0 10px #18bd18a6;
}

.textDescription{
    line-height: 0.1px;
    position: absolute;
    top: 24rem;
    left: 47rem;
    display: flex;
    width: 36.5rem;
    height: 11rem;
    text-align: left;
    font-size: 70%;
    font-family: 'Raleway';
    color: #215328;
    flex-direction: column;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.giftDetail{
    position: absolute;
    top: 26rem;
    left: 69rem;
}

.nav{
    width: 94px;
    color: #DAFFFB;
    background-color: #374259;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}