.container{
    position: absolute;
    top:-2rem;
    height: 31rem;
    grid-template-columns: 14rem 14rem 14rem 10rem;
    width: 73rem;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    align-content: space-evenly;
    justify-content: space-around;
}

.button1 {
    position: absolute;
    left: 74rem;
    top: 30rem;
    border: solid 1px #331d2c5e;
    background-color: #a19ca4;
    margin-right: 1rem;
    width: 3.4rem;
    height: 1rem;
    font-family: 'Raleway';
    font-size: 60%;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.button1:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    color: #374259;
    text-shadow: 2px 2px 4px rgba(247, 243, 243, 0.541);
}

.button4 {
    position: absolute;
    left: 70.4rem;
    top: 30rem;
    border: solid 1px #331d2c5e;
    background-color: #a19ca4;
    margin-right: 1rem;
    width: 3.4rem;
    height: 1rem;
    font-family: 'Raleway';
    font-size: 60%;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
    
.button4:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    color: #374259;
    text-shadow: 2px 2px 4px rgba(247, 243, 243, 0.541);
}

.PWraper {
    position: absolute;
    left: 74.7rem;
    top: 28.4rem;
    width: 2.89rem;
    height: 1rem;
    font-family: 'Raleway';
    font-size: 60%;
    color: #331D2C;
}                

.button2 {
    position: absolute;
    left: 4rem;
    top: -5.95rem;
    border: solid 1px #ffffff0d;
    background-color: #545B77;
    margin-right: 1rem;
    width: 8.899999999999999rem;
    height: 2rem;
    font-family: 'Raleway';
    font-size: 60%;
    color: white;
    border-radius: 3%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    }

.button2:hover {
    transform: scale(1.1);
    background-color: #F2D8D8;
    color: #374259;
    text-shadow: 2px 2px 4px rgba(247, 243, 243, 0.541);
}
.button3 {
    position: absolute;
    left: 14rem;
    top: -5.95rem;
    border: solid 1px #ffffff0d;
    background-color: #545B77;
    margin-right: 1rem;
    width: 8.899999999999999rem;
    height: 2rem;
    font-family: 'Raleway';
    font-size: 60%;
    color: white;
    border-radius: 3%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    }

    .button3:hover {
        transform: scale(1.1);
        background-color: #F2D8D8;
        color: #374259;
        text-shadow: 2px 2px 4px rgba(247, 243, 243, 0.541);
    }

.button5 {
    position: absolute;
    left: 24rem;
    top: -5.95rem;
    border: solid 1px #ffffff0d;
    background-color: #545B77;
    margin-right: 1rem;
    width: 8.899999999999999rem;
    height: 2rem;
    font-family: 'Raleway';
    font-size: 60%;
    color: white;
    border-radius: 3%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    }

    .button5:hover {
        transform: scale(1.1);
        background-color: #F2D8D8;
        color: #374259;
        text-shadow: 2px 2px 4px rgba(247, 243, 243, 0.541);
    }

    .button6 {
        position: absolute;
        left: 34rem;
        top: -5.95rem;
        border: solid 1px #ffffff0d;
        background-color: #545B77;
        margin-right: 1rem;
        width: 8.899999999999999rem;
        height: 2rem;
        font-family: 'Raleway';
        font-size: 60%;
        color: white;
        border-radius: 3%;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }
        
    .button6:hover {
        transform: scale(1.1);
        background-color: #F2D8D8;
        color: #374259;
        text-shadow: 2px 2px 4px rgba(247, 243, 243, 0.541);
    }