.container{
    height: 30rem;
    grid-template-columns: 14rem 14rem 14rem 10rem;
    width: 69rem;
    display: grid;
    overflow-y: auto;
    justify-content: space-evenly;
}

.container::-webkit-scrollbar {
    -webkit-appearance:none;
}

.container::-webkit-scrollbar:vertical {
    width:12px;
   
}
.container::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.container::-webkit-scrollbar:horizontal {
    height: 10px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #374259;
    border-radius: 20px;
    border: 2px solid #F2D8D8;
}

.container::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: rgb(212, 226, 187);
}